[submodule "light-account/lib/openzeppelin-contracts"]
	path = light-account/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "light-account/lib/forge-std"]
	path = light-account/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "light-account/lib/account-abstraction"]
	path = light-account/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
